{% extends "frontend/layouts/layout.html.twig" %}

{% block title %}
Báo chí
{% endblock %}

{% block content %}
<div class="container py-5">
	<form>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text group-icon">
						<i class="fas fa-search"></i>
					</span>
				</div>
				<input id="input-search" class="form-control" placeholder="Tìm kiếm bài viết">
				<div class="input-group-append">
					<button id="button-clear" type="button" class="btn btn-secondary">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
		</div>
	</form>

	<div class="row row-cols-1 row-cols-lg-3">
		{% for news in newsList %}
		<div class="col my-3">
			<div class="card h-100 shadow-sm">
				<img src="/assets/uploads/news/{{ news.name }}.jpg" alt="" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">{{ news.title }}</h5>
					<p class="card-text">{{ news.shortContent }}</p>
				</div>
				<div class="card-footer text-center">
					<a href="/frontend/pages/bao-chi/{{ news.name }}">Xem thêm</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<ul class="pagination mt-4 justify-content-center">
		<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
		<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
		<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
	</ul>
</div>
{% endblock %}
{% block customscripts %}
<script>
	$(document).ready(function () {
		$('#button-clear').click(() => {
			$('#input-search').val('');
		})
	});
</script>
{% endblock %}