{% extends "frontend/layouts/layout.html.twig" %}

{% block title %}
	Báo chí
{% endblock %}

{% block content %}
	<div class="container">
		{% for new in news %}
			<h1>{{ new.title }}</h1>
		{% endfor %}
	</div>
{% endblock %}
