{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Báo chí
{% endblock %}
{# End Nội dung trong block title #}

{% block content %}

<div class="container">
    <h1>Đây là nội dung sẽ làm tương tự</h1>
    <img src="/assets/frontend/img/marketing-1.png" />
</div>

{% endblock %}