{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Đối Tác Vận Chuyển

{% endblock %}
{# End Nội dung trong block title #}

{% block content %}
<div class="container">
<h2 class="block-title text-center">Lợi ích khi tham gia </h2>
<div class="row">
<div class="col-sm-6">
<div class="col-media">
<img src="" alt="Gia tăng doanh thu">
</div>
<div class="col-sm-6"><div class="col-text"><h3>Gia tăng doanh thu</h3>
        <p>Công nghệ trực tuyến của Đi Chung đảm bảo cho các đối tác nhận được đơn hàng liên tục hàng ngày.</p>
        </div></div>
</div>

</div>
</div>

{% endblock %}