{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Đăng ký thành viên
{% endblock %}
{# End Nội dung trong block title #}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h2 class="card-title mt-3 text-center">Đăng ký</h2>
                    <p class="text-center">Tạo tài khoản</p>
                    <form name="frmdangky" id="frmdangky" method="post" action="./register.php">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <input name="txttentk" class="form-control" placeholder="Tên tài khoản" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                             </div>
                            <input name="txtpass" class="form-control" placeholder="Mật khẩu" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <input name="txthoten" class="form-control" placeholder="Họ tên" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-genderless"></i> </span>
                            </div>
                            <select class="form-control" name="txtgioitinh">
                                <option value="0">Nam</option>
                                <option value="1">Nử</option>
                        
                            </select>
                        </div> <!-- form-group end.// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fas fa-map-marker-alt"></i> </span>
                             </div>
                            <input name="txtdiachi" class="form-control" placeholder="Địa chỉ" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                             </div>
                            <input name="txtsdt" class="form-control" placeholder="Số điện thoại" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <input name="txtemail" class="form-control" placeholder="Email address" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fas fa-birthday-cake"></i> </span>
                            </div>
                            
                            <input name="txtngay" class="form-control" placeholder="Ngày" type="text">
                            <input name="txtthang" class="form-control" placeholder="Tháng" type="text">
                            <input name="txtnam" class="form-control" placeholder="Năm" type="text">
                            
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="far fa-id-card"></i> </span>
                             </div>
                            <input name="txtcmnd" class="form-control" placeholder="CMND" type="text">
                        </div> <!-- form-group// -->
                        
                                                              
                        <div class="form-group">
                            <button name="btnsubmit" type="submit" class="btn btn-primary btn-block"> Tạo tài khoản  </button>
                        </div> <!-- form-group// -->      
                                                                                         
                    </form>						
                </article>
                <article class="card-footer bg-light">							
                    <p class="text-center">Nếu bạn đã có tài khoản, xin mời đăng nhập.</p>
                     <a href="./dang-nhap.php" class="btn btn-success btn-block">
                         Đăng nhập  
                    </a>					
                </article>
            </div> <!-- card.// -->
        </div><!-- end col-md-4 offset-md-4 -->
    </div> <!-- end row -->
</div> <!-- end container-fluid -->

{% endblock %}