{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Về chúng tôi
{% endblock %}
{# End Nội dung trong block title #}

{% block content %}

<h1>Đây là nội dung sẽ làm tương tự</h1>


{% endblock %}
