.wrapper {
  height: 100vh !important;
  overflow-y: auto;
}

#navbar .dropdown-menu-navbar {
  width: 18rem;
}

@media (min-width: 992px) {
  #navbar .navbar-brand {
    width: calc(320px - 16px - 1rem) !important;
  }
}
