.wrapper {
  padding-top: 3.6rem;
}

.input-group-sm .group-icon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;

  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;

  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;

  width: 2.25rem !important;
  padding: 0 !important;
  text-align: center !important;
}

.input-group .group-icon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;

  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;

  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;

  width: 2.5rem !important;
  padding: 0 !important;
  text-align: center !important;
}