<div id="{{ el }}" data-user="{{ data }}">
  <b-form >
    

    <b-button type="submit" variant="primary">Submit</b-button>
    <b-button type="reset" variant="danger">Reset</b-button>
  </b-form>
</div>